<div>
<%=@game.player_1.name %> vs <%=@game.player_2.name %>
</div>
<div>
<%= @game.player_1.name %>: <%= @game.player_1.hp %>HP
<br>
<%= @game.player_2.name %>: <%= @game.player_2.hp %>HP
</div>

<a href="/attack<%=(@game.counter%2+1)%>">Attack</a>
<!-- <a href="/attack2"><%= @game.player_2.name %>Attack</a> -->
